.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  align-items: flex-end;
  padding-top: 12.5rem;
  margin-bottom: 12.5rem;
  background-color: #F8F9FA;

  // &__empty-container {
  //   display: flex;
  // }

  &__content {
    display: flex;
    width: 60%;
    flex-direction: column;
  }

  &__text {
    font-size: 1.4rem;
  }

  &__header {
    font-size: 2.5rem;
    margin: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 3px black;
    display: inline-block;
    animation: animated-text 4s linear 1s 1 normal both;
  }

  &__tools-header {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__tools-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 155px;
  }
}
