.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  align-items: flex-end;
  padding-top: 12.5rem;
  margin-bottom: 12.5rem;


  // &__empty-container {
  //   display: flex;
  // }

  &__content {
    display: flex;
    width: 60%;
    flex-direction: column;
}

  
  &__text {
    font-size: 1.4rem;
  }

  &__header {
    font-size: 2.5rem;
    margin: 2rem;
  }

  &__tools-header {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem;
  }

  &__tools-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
