.about {
  display: flex;
  flex-direction: column;
  // text-align: center;
  // margin: auto;
  align-items: center;
  padding-top: 12.5rem;
  // margin-bottom: 12.5rem;
  background: #fff;
  color: #7f8c8d;
  padding: 8rem 4rem;

  // &__empty-container {
  //   display: flex;
  // }

  &__content {
    display: flex;
    width: 60%;
    flex-direction: column;
  }

  &__text {
    display: flex;
    flex-direction: column;
    // align-items: center;
    font-size: 1.4rem;
    // text-align: center;
  }

  // &__header-container {
  //   display: flex;
  //   flex-direction: column;
  // }
  // &__header {
  //   align-items: flex-start;
  // }
  // &__header-container {
  //   display: flex;
  //   flex-direction: row;
  // }

  &__header {
    font-size: 2.5rem;
    margin: 2rem 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }

  // &__bar {
  //   width: 2px;
  //   height: 2.5rem;
  //   background: black;
  //   position: relative;
  // }

  &__skills {
    display: flex;
    flex-direction: column;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    justify-content: space-between;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  &__icon-logo {
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 0.5rem;
  }
}

.header-animation-type {
  // align-items: flex-start;
  // align-self: flex-start;
  // font-size: 2.5rem;
  // margin: 2rem ;
  // text-align: center;
   font-size: 620%;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;

  // border-right: solid 3px black;
  // animation: animated-text 4s linear 1s 1 normal both;
  // animation: type 2s linear forwards;
  //   white-space: nowrap;
  // overflow: hidden;
  animation: animated-text-type 2s linear 1 normal both;
  border-right: solid 5px rgba(255, 255, 255, 0.75);
  border-left: solid 5px rgba(255, 255, 255, 0.75);

  // margin: 0 auto;
}

.header-animation-wipe {
  // font-size: 2.5rem;
  // margin: 2rem;
  // text-align: center;
  font-size: 620%;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  // border-right: solid 3px black;
  display: inline-block;
  animation: animated-text-wipe 2s linear 1 normal both;
  border-right: solid 5px rgba(255, 255, 255, 0.75);
}

@keyframes animated-text-type {
  from {
    width: 0;
    display: none;
  }
  to {
    width: 745px;
  }
}

@keyframes animated-text-wipe {
  from {
    width: 745px;
  }
  to {
    width: 0;
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .header-animation-type {
    font-size: 1rem;
  }

  .about {
    max-width: 800px;
    margin: 0 auto;
    padding: 8rem 5rem;
  }

  .about__header {
    font-size: 1rem;
  }

  .about__icons {
    display: flex;
flex-direction: column; 

}
.about__icons__row {
margin-bottom: 2rem;  
display: flex;
flex-direction: row; 
  }
}
