.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15rem;
    align-items: center;
    background-color: #343A40;

    &__icon {
        margin: 0 1rem;
    }
}