.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  align-items: center;
  // background-color: #9fb1c4;
  background-color: #87d1c2;
  color: #fff;


  &__links {
    display: flex;
    flex-direction: row;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 0.5rem;
  }

  &__icon:hover {
    filter: 
    // invert(1);
opacity(50%)    
  }

  &__copyright {
    letter-spacing: 2px;
    padding: 2rem;
  }
}
