.navbar-mobile-menu {
  display: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // position: fixed;
  // top: 0;
  // width: 100%;
  background-color: #72c9b9;
  height: 5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-items: center;
  position: fixed;
  top: 20px;
  // left: 20px;
  // right: 20px;
  z-index: 500;
  // min-width: 288px;
  width: 100%;
  color: #fff;
  opacity: 0.85;
  // background: hsla(0,0%,100%,.85);
  // border-radius: 25px;
  padding: 15px 0;

  &-logo {
    display: flex;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }

  &-logo:hover {
    cursor: pointer;
  }

  &-desktop-menu {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
  }

  &-desktop-list {
    list-style: none;
  }

  &-desktop-element {
    display: inline;
    padding: 1rem;
  }

  &-desktop-element:hover {
    cursor: pointer;
  }
}


@media only screen and (max-width: 600px) {

    .navbar-desktop-menu {
        display: none;
    }
    // .navbar-mobile-menu {
    //   display: flex;
    //   background-color: blue;
    // }

    #outer-container{
      display: flex;
      background-color: red;
    }

    .navbar-mobile {
      display: flex;
    }
  /* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
  }
