.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1d1045;
  height: 5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-items: center;
  z-index: 9;
  color: #fff;
  opacity: 0.85;

  &-wrap {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
  }

  &-logo {
    display: flex;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }

  &-logo:hover {
    cursor: pointer;
  }

  &-mobile {
    display: none;
  }

  &-desktop {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
  }

  &-desktop-list {
    list-style: none;
  }

  &-desktop-element {
    display: inline;
    padding: 1rem;
  }

  &-desktop-element__text:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    &-desktop {
      display: none;
    }

    &-mobile {
      display: flex;
    }

    &-logo {
      font-size: 1rem;
    }

    &-mobile button {
      position: fixed;
      top: 20px;
      right: 1rem;
      z-index: 10;
      cursor: pointer;
      border: none;
      background: transparent;
    }

    &-side-panel {
      overflow-y: scroll;
      list-style: none;
      position: fixed;
      top: 0;
      background: #e6839c;
      right: 0;
      bottom: 0;
      height: 100vh;
      width: 0;
      overflow: hidden;
      max-width: 250px;
      z-index: 9;
      padding-top: 7rem;
      border-left: #14b7be;
      border-width: 2px;
      border-style: solid;
    }

    &-side-panel.showMenu {
      width: 100%;
      transition: all 0.5s ease-in;
    }

    &-side-panel.hideMenu {
      width: 0%;
      transition: all 0.5s ease-in;
    }
    
    &-mobile-element {
      display: block;
      padding: 10px 40px;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
    }

    &-mobile-element:hover {
      background: #1d1045;
    }
  }
}
