.portfolio {
  display: flex;
  flex-direction: column;
  padding: 8rem 4rem;
  background: #fff;
  color: #7f8c8d;

  &__header {
    font-size: 2.5rem;
    margin: 2rem;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__description {
    text-align: center;
  }

  &__projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__project {
    display: flex;
    flex-direction: column;
    width: 35.5rem;
    height: 25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    margin: 1rem;
    background-color: #ffffff;
    // box-shadow: 2px 2px 14px 1px rgb(0 0 0 / 40%);
    // justify-content: space-between;
  }

  &__project-image {
    width: 100%;
    height: 15.5rem;
    object-fit: cover;
  }

  &__project-header {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1rem 0;
    color: #4C5D75;
  }

  &__project-header-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__project-header-icon{
    padding: 0 0.5rem;

  }

  &__project-tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    // margin-bottom: 1rem;
  }

  &__project-tool {
    background-color: #87D1C3;
    color: white;
    border-radius: 160px;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    font-size: 1rem;
  }
}
