/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

.navbar-mobile-menu {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #72c9b9;
  height: 5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-items: center;
  position: fixed;
  z-index: 500;
  width: 100%;
  color: #fff;
  opacity: 0.85;
  padding: 15px 0;
}
.navbar-logo {
  display: flex;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}
.navbar-logo:hover {
  cursor: pointer;
}
.navbar-desktop-menu {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.navbar-desktop-list {
  list-style: none;
}
.navbar-desktop-element {
  display: inline;
  padding: 1rem;
}
.navbar-desktop-element:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .navbar-desktop-menu {
    display: none;
  }

  #outer-container {
    display: flex;
    background-color: red;
  }

  .navbar-mobile {
    display: flex;
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
.home {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #72c9b9;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.home__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  justify-content: center;
  text-align: center;
}
.home__header-name {
  text-align: center;
  font-size: 5rem;
  margin: 1rem;
}
.home__header-title {
  font-size: 2rem;
}
.home__arrow {
  width: 3rem;
}
.home__arrow:hover {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
.home #home__arrow {
  position: absolute;
  bottom: 50px;
}
@media only screen and (max-width: 600px) {
  .home {
    display: flex;
    justify-content: center;
  }
  .home__header {
    justify-content: center;
  }
  .home__header-name {
    font-size: 1.5rem;
  }
  .home__header-title {
    font-size: 1rem;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12.5rem;
  background: #fff;
  color: #7f8c8d;
  padding: 8rem 4rem;
}
.about__content {
  display: flex;
  width: 60%;
  flex-direction: column;
}
.about__text {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}
.about__header {
  font-size: 2.5rem;
  margin: 2rem 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.about__skills {
  display: flex;
  flex-direction: column;
}
.about__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about__icon {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.about__icon-logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 0.5rem;
}

.header-animation-type {
  font-size: 620%;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  -webkit-animation: animated-text-type 2s linear 1 normal both;
          animation: animated-text-type 2s linear 1 normal both;
  border-right: solid 5px rgba(255, 255, 255, 0.75);
  border-left: solid 5px rgba(255, 255, 255, 0.75);
}

.header-animation-wipe {
  font-size: 620%;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  -webkit-animation: animated-text-wipe 2s linear 1 normal both;
          animation: animated-text-wipe 2s linear 1 normal both;
  border-right: solid 5px rgba(255, 255, 255, 0.75);
}

@-webkit-keyframes animated-text-type {
  from {
    width: 0;
    display: none;
  }
  to {
    width: 745px;
  }
}

@keyframes animated-text-type {
  from {
    width: 0;
    display: none;
  }
  to {
    width: 745px;
  }
}
@-webkit-keyframes animated-text-wipe {
  from {
    width: 745px;
  }
  to {
    width: 0;
    display: none;
  }
}
@keyframes animated-text-wipe {
  from {
    width: 745px;
  }
  to {
    width: 0;
    display: none;
  }
}
.portfolio {
  display: flex;
  flex-direction: column;
  padding: 8rem 4rem;
  background: #fff;
  color: #7f8c8d;
}
.portfolio__header {
  font-size: 2.5rem;
  margin: 2rem;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
}
.portfolio__description {
  text-align: center;
}
.portfolio__projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio__project {
  display: flex;
  flex-direction: column;
  width: 35.5rem;
  height: 25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  margin: 1rem;
  background-color: #ffffff;
}
.portfolio__project-image {
  width: 100%;
  height: 15.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__project-header {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
  color: #4C5D75;
}
.portfolio__project-header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.portfolio__project-header-icon {
  padding: 0 0.5rem;
}
.portfolio__project-tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.portfolio__project-tool {
  background-color: #87D1C3;
  color: white;
  border-radius: 160px;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  font-size: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  align-items: center;
  background-color: #87d1c2;
  color: #fff;
}
.footer__links {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.footer__icon {
  display: inline;
  height: 2.5rem;
  width: 2.5rem;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 0.5rem;
}
.footer__icon:hover {
  filter: opacity(50%);
}
.footer__copyright {
  letter-spacing: 2px;
  padding: 2rem;
}
/*# sourceMappingURL=main.css.map *//*# sourceMappingURL=main.css.map */