/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  align-items: center;
}
.navbar__column--left {
  display: flex;
  font-weight: 600;
}
.navbar__column--right {
  display: flex;
}
.navbar__element {
  float: left;
  display: flex;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}
.navbar__text:hover {
  cursor: pointer;
}

.home {
  display: flex;
  background-color: #C4C4C4;
  color: white;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.home__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}
.home__header-name {
  text-align: center;
  font-size: 5rem;
  margin: 1rem;
}
.home__header-title {
  font-size: 2rem;
  margin: 1rem;
}
.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  align-items: flex-end;
  padding-top: 12.5rem;
  margin-bottom: 12.5rem;
  background-color: #f8f9fa;
  padding: 8rem 4rem 14rem 4rem;
}
.about__content {
  display: flex;
  width: 60%;
  flex-direction: column;
}
.about__text {
  font-size: 1.4rem;
}
.about__header {
  font-size: 2.5rem;
  margin: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  border-right: solid 3px black;
  display: inline-block;
  -webkit-animation: animated-text 4s linear 1s 1 normal both;
          animation: animated-text 4s linear 1s 1 normal both;
}
.about__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about__icon {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0rem;
  text-align: center;
}
.about__icon-logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 0.5rem;
}

@-webkit-keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 155px;
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 155px;
  }
}
.portfolio {
  display: flex;
  flex-direction: column;
  padding: 8rem 4rem 14rem 4rem;
}
.portfolio__header {
  font-size: 2.5rem;
  margin: 2rem;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
}
.portfolio__description {
  text-align: center;
}
.portfolio__projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio__project {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 15rem;
}
.portfolio__project-image {
  width: 100%;
}
.portfolio__project-header {
  font-size: 2rem;
}
.portfolio__project-tools {
  display: flex;
  flex-direction: row;
}
.portfolio__project-tool {
  background-color: #343A40;
  color: white;
  border-radius: 160px;
  padding: 0 0.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9fb1c4;
}
.footer__links {
  display: flex;
  flex-direction: row;
}
.footer__icon {
  height: 2.5rem;
  padding: 5rem 1rem 5rem 1rem;
}
.footer__copyright {
  letter-spacing: 2px;
  padding-bottom: 2rem;
}
/*# sourceMappingURL=main.css.map *//*# sourceMappingURL=main.css.map */